<%= render 'layouts/minimenu' %>
<div class="container login-bg">
  <div class="login-form-signin" style="max-width: 500px !important;">
    <div class="login-logo"><%= image_tag("logo.png") %></div>
    <div class="login-wrap">
      
      <h1 style="Margin-top: 0;font-weight: normal;color: #3d88fd;font-family: Ubuntu,sans-serif !important;font-size: 30px;Margin-bottom: 16px;line-height: 44px">
        Seja bem vindo a Vitrine de EJ
      </h1>
      <p style="text-align: left;font-weight: normal;color: #000000;font-family: Ubuntu,sans-serif !important;font-size: 12px;Margin-bottom: 16px">
        Mais abaixo há instruções sobre como sua Federação poderá fazer parte da Vitrine de EJ.
      </p>
            <p>
                <li> Para nos certificar da validade da sua Federação nós precisamos que você envie um e-mail para ...@vitrinedeej.com .</li><br>

                <li> Após isso iremos certificar se o e-mail de sua federação é real, para então cadastramos no sistema.</li><br>

                <li> Então você irá receber um e-mail portando a sua senha e explicando mais sobre o seu cadastro.</li><br>

                <li> A Federação será a unica responsável por validar os Selos EJ, portanto caso sua federação não esteja ativa na Vitrine de EJ não há como validar o Selo das Empresas Juniores dos seus Estados.</li><br>

                <li> Bom trabalho e seja mais uma vez bem vindo a Vitrine de EJ.</li><br>
            </p>
    </div>    
  </div>
</div>
