<%= stylesheet_link_tag "landingpage" %>
<%= render 'layouts/minimenu' %>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style="font-family: Pacifico; font-size: 8em;">Vitrine</h1>
                    <h3>Encontre soluções de alta qualidade e incentive o empreendedorismo no Brasil</h3>
                    <hr class="intro-divider">
                        <div style="margin-top: 30px; margin-bottom: 30px;">                          
                            <a href="/find" class="btn btn-default"><span class="network-name">Encontrar uma Empresa Junior</span></a> OU <a href="/users/new" class="btn btn-default"><span class="network-name">Cadastrar uma Empresa Junior</span></a>
                        </div>
                        <div style="margin-top: 30px; margin-bottom: 30px;">
                            <hr class="intro-divider">
                            <h4>Você não sabe o que é uma Empresa Junior?</h4>
                            <a href="/explanation" class="btn btn-success"><span class="network-name">Saiba Mais</span></a>
                            </hr>
                        </div>
                    </hr>                                                
                </div>
            </div>
        </div>
    </div>
</div>