<%= stylesheet_link_tag "landingpage" %>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <nav class="navbar navbar-default navbar-xs" role="navigation" style="margin-bottom: 2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-family: Pacifico;" ><b>Vitrine</b></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="glyphicon"></i></a></li>
        <li><a href="/log_in"><i class="fa fa-sign-in"></i> Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ver Explicação sobre Empresas Juniores</a></li>
            <li class="divider"></li>
            <li><a href="#">Fazer Log-In</a></li>
            <li class="divider"></li>
            <li><a href="#">Dar Feedback</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="font-family: Pacifico; font-size: 8em;">Vitrine</h1>
                        <h3>Encontre soluções de alta qualidade e incentive o empreendedorismo no Brasil</h3>
                        <hr class="intro-divider">
                            <div style="margin-top: 30px; margin-bottom: 30px;">                          
                                <a href="/find" class="btn btn-default"><span class="network-name">Encontrar uma Empresa Junior</span></a> OU <a href="/users/new" class="btn btn-default"><span class="network-name">Cadastrar uma Empresa Junior</span></a>
                            </div>
                            <div style="margin-top: 30px; margin-bottom: 30px;">
                                <hr class="intro-divider">
                                <h4>Você não sabe o que é uma Empresa Junior?</h4>
                                <a href="/explanation" class="btn btn-success"><span class="network-name">Saiba Mais</span></a>
                                </hr>
                            </div>
                        </hr>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
