<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por se cadastrar!</h1>
    <p>Sua senha é <%= @user.password %></p>
    <p>Após o primeiro login você será levado a cadastrar a sua EJ.</p>
  </body>
</html>