<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @message.text %></p>

	<p>Contato: </p>
	<p>Nome: <%= @message.name %></p>
	<p>Telefone: <%= @message.phone %></p>
	<p>Email: <%= @message.email %></p>
  </body>
</html>