<div class="container login-bg">
	<div class="login-form-signin">
	  <div class="login-logo"><%= image_tag("logo.png") %></div>
	  <h2 class="login-form-signin-heading">Cadastre sua Empresa Junior</h2>
	  <div class="login-wrap">
	    <%= form_for(@user) do |f| %>
	      <div class="form-group has-feedback lg left-feedback no-label">
	      	<input class="form-control" id="user_email" name="user[email]" placeholder="Email da Empresa Junior" type="text">
	      </div>
	      <button type="submit" method="post" class="btn btn-lg btn-primary btn-block">Criar</button>
	    <% end %>

	    <form method="get" action="/log_in">
	      <button class="btn btn-success btn-block">Retornar</button>
	    </form>
	  </div>
  </div>
</div>
<%= error_toastr(@errors) %>

<script>
	$("#user_email").inputmask({ alias: "email"});
</script>
