<div class="container login-bg">
	<div class="login-form-signin">
  	<div class="login-logo"><%= image_tag("logo.png") %></div>
    <h2 class="login-form-signin-heading">Recuperar senha</h2>
    <div class="login-wrap">
      <%= form_tag do %>
        <div class="form-group has-feedback lg left-feedback no-label">
          <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Recuperar</button>
      <%end%>

      <form method="get" action="/log_in">
        <button class="btn btn-success btn-block">Retornar</button>
      </form>
    </div>
  </div>
</div>

<script>
  $("#email").inputmask({ alias: "email"});
</script>