<div id="layout-container">
  <%= render 'layouts/lateralmenu' %>
  <div id="main">  
    <%= render 'layouts/headmenu' %>
      <div class="margin-container">
        <div class="scrollable wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="page-heading">
                <h1>Perfil</h1>
              </div>
            </div>
          </div>
          <div class="row">
                    <div class="profile-info col-lg-9 col-lg-offset-1">
                        
                        <div class="panel">
                            <div class="bio-graph-heading">
                               Lobortis orci ac, consequat erat. Ut feugiat, quam id tempus tempor, nunc est malesuada libero. 
                            </div>
                            <div class="panel-body bio-graph-info">
                                <h1>Bio Graph</h1>
                                <div class="row">
                                    <div class="bio-row">
                                        <p><span>First Name </span>: Scott</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Last Name </span>: Henderson</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Country </span>: India</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Birthday</span>: 13 July 1989</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Occupation </span>: UI Designer</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Email </span>: scott.codesign9@gmail.com</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Mobile </span>: +91 123 456 7890</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Phone </span>: +91 123 456 7890</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="bio-desk">
                                                <h4 class="red">Envato Website</h4>
                                                <p>Started : 22 November</p>
                                                <p>Deadline : 10 January</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="bio-desk">
                                                <h4 class="terques">ThemeForest CMS </h4>
                                                <p>Started : 22 November</p>
                                                <p>Deadline : 10 January</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="bio-desk">
                                                <h4 class="green">Thin-Admin</h4>
                                                <p>Started : 22 November</p>
                                                <p>Deadline : 10 January</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div id="slider-range-min" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 6%;"></div></div>
                                            <div class="bio-desk">
                                                <h4 class="purple">Atom-Admin</h4>
                                                <p>Started : 22 November</p>
                                                <p>Deadline : 10 January</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
        </div>
      </div>
    </div>
</div>