<div id="layout-container">    
  <%= render 'layouts/findmenu' %>
  <div id="main" style="left: 200px !important;">  
    <div class="head-title">
  <div class="menu-switch"><i class="fa fa-bars"></i></div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
  <div class="margin-container">
    <div class="scrollable wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
          </div>
        </div>
      </div>
      <div class="row">
              <div class="profile-info col-lg-9 col-lg-offset-1">                  
                  <div class="panel">
                      <div class="bio-graph-heading">
                         Lobortis orci ac, consequat erat. Ut feugiat, quam id tempus tempor, nunc est malesuada libero. 
                      </div>
                      <div class="panel-body bio-graph-info">
                          <h1>Por Estado</h1>
                          <div class="row">
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a> Ceará </a></span></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="panel">
                                  <div class="panel-body">
                                      <div class="bio-desk">
                                          <h4 class="red">Envato Website</h4>
                                          <p>Started : 22 November</p>
                                          <p>Deadline : 10 January</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>   
        </div>
      </div>
    </div>
</div>
<style>
  .bio-row {width:25%; text-align:center;}
</style>