<div id="layout-container">    
  <%= render 'layouts/findmenu' %>
  <div id="main" style="left: 200px !important;">  
    <div class="head-title">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
  <div class="margin-container">
    <div class="scrollable wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="page-heading">
          </div>
        </div>
      </div>
      <div class="row">
              <div class="profile-info col-lg-9 col-lg-offset-1">                  
                  <div class="panel">
                      <div class="bio-graph-heading">
                         Lobortis orci ac, consequat erat. Ut feugiat, quam id tempus tempor, nunc est malesuada libero. 
                      </div>
                      <div class="panel-body bio-graph-info">
                          <h1>Encontre uma Empresa Junior em seu Estado</h1>
                          <div class="row">
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Acre"><i class="fa fa-angle-double-right"></i>Acre</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Alagoas"><i class="fa fa-angle-double-right"></i>Alagoas</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Amapá"><i class="fa fa-angle-double-right"></i>Amapá</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Amazonas"><i class="fa fa-angle-double-right"></i>Amazonas</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Bahia"><i class="fa fa-angle-double-right"></i>Bahia</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Ceará"><i class="fa fa-angle-double-right"></i>Ceará</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Distrito+Federal"><i class="fa fa-angle-double-right"></i>Distrito Federal</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Espírito+Santo"><i class="fa fa-angle-double-right"></i>Espírito Santo</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Goiás"><i class="fa fa-angle-double-right"></i>Goiás</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Maranhão"><i class="fa fa-angle-double-right"></i>Maranhão</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Mato+Grosso"><i class="fa fa-angle-double-right"></i>Mato Grosso</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Mato+Grosso+do+Sul"><i class="fa fa-angle-double-right"></i>Mato Grosso do Sul</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Minas+Gerais"><i class="fa fa-angle-double-right"></i>Minas Gerais</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Pará"><i class="fa fa-angle-double-right"></i>Pará</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Paraíba"><i class="fa fa-angle-double-right"></i>Paraíba</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Paraná"><i class="fa fa-angle-double-right"></i>Paraná</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Pernambuco"><i class="fa fa-angle-double-right"></i>Pernambuco</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Piauí"><i class="fa fa-angle-double-right"></i>Piauí</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Rio+de+Janeiro"><i class="fa fa-angle-double-right"></i>Rio de Janeiro</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Rio+Grande+do+Norte"><i class="fa fa-angle-double-right"></i>Rio Grande do Norte</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Rio+Grande+do+Sul"><i class="fa fa-angle-double-right"></i>Rio Grande do Sul</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Rondônia"><i class="fa fa-angle-double-right"></i>Rondônia</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Roraima"><i class="fa fa-angle-double-right"></i>Roraima</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Santa+Catarina"><i class="fa fa-angle-double-right"></i>Santa Catariana</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=São+Paulo"><i class="fa fa-angle-double-right"></i>São Paulo</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Sergipe"><i class="fa fa-angle-double-right"></i>Sergipe</a></span></p>
                              </div>
                              <div class="bio-row">
                                  <p><span><a href="/search?utf8=✓&name=&tag=&state=Tocantins"><i class="fa fa-angle-double-right"></i>Tocantins</a></span></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>   
        </div>
      </div>
    </div>
</div>
<style>
  .bio-row {width:25%; text-align:center;font-size: 10px;}
</style>