<div id="layout-container">
	<%= render 'layouts/lateralmenu' %>
	<div id="main">
	    <%= render 'layouts/headmenu' %>
	    <div class="margin-container">
	      <div class="scrollable wrapper">
	        <div class="row">
	          <div class="col-md-12">
	            <div class="page-heading">
	              <h1>Blank Page </h1>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="box-info">
	              <h3>Content goes here!</h3>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>  
</div>