<div id="nav">
  <div class="profile">
    <div class="logo"><a href="/"><%= image_tag("logo.png") %></a></div>
  </div>
  <ul class="navigation">
    <li><a href="/dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
    <li><a href="/junior_enterprises/edit"><i class="fa fa-edit"></i><span>Editar</span></a></li>
    <li><a href="#"><i class="fa fa-envelope"></i><span>Mensagens</span></a></li>
    <li><a href="#"><i class="fa fa-group"></i><span>Membros</span></a></li>
    <li><a href="/log_out"><i class="fa fa-sign-out"></i><span>Log Out</span></a></li>
  </ul>
</div>